body {
    background-color: rgba(0, 0, 0, .05);
    margin: 0 0 10px;
}

.main-container {
    display: flex;
}

nav {
    position: fixed;
    width: 400px;
    height: calc(100vh - 10px);
    overflow-y: auto;
    border: 1px solid lightgray;
    border-radius: 2px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: white;
}

nav .bio {
    padding: 8px 15px;
    background-color: #e7e6d4;
    display: flex;
}

nav .bio .avatar img {
    width: 90px;
}

nav .bio .info p {
    text-align: center;
    margin: 3px 2px;
}

nav .bio .info p.name {
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
}

nav .bio .info p.name a {
    color: #969245;
}

nav .divider {
    border-bottom: 3px lightgray double;
}

nav .menu .menu-item {
    display: block;
    padding: 8px 15px;
    color: black;
    text-decoration: none;
}

nav .menu .menu-item:hover {
    cursor: pointer;
    background-color: #e7e6d4 !important;
}

nav .menu .menu-item.active, nav .menu .sub-menu-item.active {
    background-color: #e7e6d4;
}

nav .menu .sub-menu .menu-item {
    border: none !important;
}

nav .menu .sub-menu-item {
    display: block;
    padding: 4px 30px;
    color: black;
    text-decoration: none;
}

nav .menu .sub-menu:not(:last-child) .sub-menu-item:last-of-type, nav .menu .menu-item {
    border-bottom: 1px solid lightgray;
}

header {
    border: 1px solid lightgray;
    border-radius: 2px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: #e7e6d4;
    position: relative;
}

header .header-links {
    display: flex;
    justify-content: space-between;
}

header .header-links a {
    color: #969245;
}

header .header-links .since {
    margin: 0 0 0 15px;
}

header .header-links .sites {
    margin-right: 15px;
}

header .main-header {
    margin: 0;
    padding-bottom: 5px;
    font-size: 26px;
    text-align: center;
}

header .sub-header {
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 22px;
    text-align: center;
}

header .locale {
    position: absolute;
    bottom: 5px;
    left: 15px;
}

header .locale img {
    width: 20px;
}

main {
    width: calc(100% - 390px);
    margin-left: 415px;
    margin-right: 0;
}

main .main-content {
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 2px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: white;
    margin-top: 15px;
}

table#resume, #search table {
    border-collapse: collapse;
}

table#resume td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

table#resume tr td:first-of-type {
    font-weight: 600;
    width: 20%;
}

#search table {
    margin: auto;
}

#search table thead tr {
    background-color: #e7e6d4;
}

#search table td, #search table th {
    padding: 5px;
    border: 1px solid lightgray;
}

#search table th img {
    width: 50px;
}

#search table td a {
    color: #969245;
}

#search table:first-of-type {
    margin-bottom: 20px;
}

#biography p:not(.title), #ind p:not(.title), #diss p:not(.title), #article p:not(.title), #search p:not(.title) {
    text-indent: 20pt;
    word-wrap: break-word;
    text-align: justify;
    margin: 0;
}

p.title {
    text-align: center;
    font-size: 20px;
}

.text-center {
    text-align: center !important;
}

.link-body .link-info {
    margin-left: 15px;
}

#article .link-body .link-info {
    margin-left: 0;
}

.link-body .link, .link-body .link-info .link-info-title {
    font-size: 18px;
}

.link-body .link, .link-body .link-info .link-info-title, table#resume tr td:first-of-type {
    color: #969245;
}

p span.list-item {
    list-style-position: inside;
    display: list-item;
}

#tdd-img {
    width: 300px;
}

#flow-img {
    width: 500px;
}

#modular-img {
    width: 600px;
}

#cfg-img {
    width: 200px;
}

#sql-img {
    width: 250px;
}

#article2-img1 {
    width: 400px;
}
